<!DOCTYPE html>
<html lang="en">
<%- include('./src/template/head.ejs',{title:'Index'})%>
<body>
  <div class="site">
    <div class="site__inner">
      <div class="site__body">
        <div class="site-content-switcher" id="site-content-switcher">
          <div class="site-content-switcher__item" id="zh-tw-alphabet">
            <%- include('./src/template/toys/zh-tw-alphabet.ejs')%>
          </div>
          <div class="site-content-switcher__item" id="zh-tw-vocabulary-picking">
            <%- include('./src/template/toys/zh-tw-vocabulary-picking.ejs')%>
          </div>
          <div class="site-content-switcher__item" id="zh-tw-lyric-picking">
            <%- include('./src/template/toys/zh-tw-lyric-picking.ejs')%>
          </div>
        </div>
      </div>
      <a href="#" class="site__btn menu-btn">
        <img src="~@img/menu.png" alt="">
      </a>
      <div class="site__menu-wrapper">
        <%- include('./src/template/menu.ejs') %>
      </div>
    </div>
  </div>
</body>
</html>